@font-face {
    font-family: 'poiret_oneregular';
    src: url('poiretone-regular-webfont.woff2') format('woff2'),
         url('poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'HelveticaNeue';
    src: url('../Script/HelveticaNeue.ttf')
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @-webkit-keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }

  @keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }

  
body{
    font-family: poiret_oneregular;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: #E74C3C;
    justify-content: space-between;
}

.container h1{
    margin-left: 25px;
    text-align: center;
    font-family: Arial ;
    font-weight: lighter;
    font-size: 36px;
    letter-spacing: -0.72px;
    color: #FFFFFF;
    opacity: 1;
}

.container1{
    margin-right:25px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.container1 a{
    text-decoration: none;
    color: white;
    font-family:  'Helvetica';
    letter-spacing: 0;
    
}

.boximage{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1040px;
    background-image: url(../Img/hero.png);
    background-size: cover;
}

.logoLib{
    margin-top: 101px;
    width: 170px;
    height: 234px;
    background: url(../Img/logo.png);
    opacity: 1;
    animation: scale-up-center 2s;
}

.boximage h2{
    margin-top: 100px ;
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: lighter;
    color: white;
    animation: scale-up-center 2s;
}

.redbutton{
    margin-top: 50px;
    height: 50px;
    width: 400px;
    justify-content: center;
    text-align: center;
    font-family: Helvetica;
    font-size: large;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    background-color: #E74C3C;
    line-height: 50px;
}

.ourworks{
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scale-up-center 2s;
}

.ourworks h2{
    font-size: 400%;
    font-weight: lighter;
}    

.ourworks p{
    font-family: helvetica;
    font-size: larger;
    color:  #9B9B9B;
    text-align: center;
}

.boximg{
    margin: 6%;
    width: 85%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: space-between;
}

.boximg img{
    position: relative;
}

img:active{
    width:200%
}


.boxprice{
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 3%;
    position: relative;
    width: 80%;
    font-family: Helvetica;
    display: flex;
    justify-content: space-between;
}


.bloc{
    width: 20%;
    border:1.5px solid rgb(185, 185, 185);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.bloc:hover{
    border:2px solid rgb(56, 151, 214);
}

.boxprice p{
    color: rgb(95, 95, 95);
    height: 35px;
    font-weight: 150%;
    text-align: center;
    line-height: 25px;
}

.blochead{
    padding: 0px;
    height: 150px;
    border: 1px solid  rgb(185, 185, 185); 
    background-color: rgb(230, 230, 230);
    margin: 0px;
    text-align: center;
    line-height: center;
}

.bloc:hover .blochead{
    background-color: rgb(56, 151, 214);
}

.blochead h3{
    color: rgb(170, 165, 165);
    font-family: 'HelveticaNeue';
    font-weight: bold;
    font-size: 40px;
    line-height: 0%;
}

.blochead em{
    line-height: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    font-family: helvetica;
}

button{
    margin: 30px;
    position: relative;
    size: inherit;
    text-align: center;
    color: #B2B2B2;
    background-color: #2e3e50;
    border: none;
    border-radius: 3px;
    width: 75%;
    height: 7.5%;
}

.bloc:hover button{
    background-color: rgb(56, 151, 214);
}

hr{
    color: rgb(230, 230, 230);
    width: 75%;
}

.bloc:hover hr{
    color: rgb(57, 151, 214);
}

.contact{
    background-color: #2e3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2{
    color: white;
}

.formulaire{
    margin-bottom: 100px;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bigbox{
    width:48.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.message{
    text-indent: 15px;
    color: rgb(116, 111, 111);
    text-align: -20px;
    width: 99.2%;
    height: 245px;
    border-radius: 5px;
    padding-top: 25px;
    font-family: "helvetica";
    font-weight: bold;
    font-size: 15px;
}

.smallbox{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:60px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}


input{
    position: relative;
    font-family: "helvetica";
    font-weight: bold;
    font-size: 15px;
}


input::placeholder{
    text-indent: 15px;
}

.smallbox select{
    margin-top: 15px;
    height: 65px;
    border-radius: 5px;
    border: 2px solid  rgb(160, 155, 155);
    overflow: hidden;
}

select::after{
    position: relative;
    content: '\0025be';
    font-size: 55px;
    font-weight: lighter;
    color: rgb(116, 111, 111);
    border-left: 1px solid  rgb(116, 111, 111);
    margin-left: 650px;
    padding-right: 30px;
    background-color: rgb(228, 217, 217);
    top: -40px;
}

.smallbox option{
    position: relative;
    width: 650px;
    font-family: "helvetica";
    font-weight: bold;
    font-size: 15px;
    text-indent: 15px;
    color: rgb(116, 111, 111);
    margin-top: 20px;
}

.smallbox button{
    border-radius: 5px;
    color: white;
    background-color: #E74C3C;
    height: 65px;
    width: 12.5%;
    bottom: 15px;
    margin-right: 0px;
    font-family: "helvetica";
    font-weight: bold;
    font-size: 15px;
}

.verslemenu {
    display: block;
    margin-top: -40px;
    margin-left: 48%;
    background-size: cover;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.verslemenu img{
    height: 75px;
    width: 75px;
}

.verslemenu:hover{
    animation: rotate-in-center 2s;
}

footer{
    width: 100%;
    height: 500px;
}

footer p{
    font-family: 'arial';
    text-align: center;
    font-weight: bold;
    color: dimgray;
}

.logo{
    margin-top: 40px;
    text-align: center;
}

.logo:hover img{
    width: 25%;
}






